<h1>Create a new Portfolio item</h1>

<%#= form_with(model: portfolio_item, local: true) do |form| %>
<!-- portfolio_item: is a local var passed to form, @portfolio_item is instance var -->
<%= render 'form', portfolio_item: @portfolio_item %> 

<p>params.inspect</p>
<%= params.inspect %>

<p>@portfolio_item.inspect</p>
<%= @portfolio_item.inspect %>

<p>portfolio_path</p>
<%= new_portfolio_path %>

